version: '3.0'
services:
  pg_remittance:
    image: postgres:9.5
    container_name: pg_remittance
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres123456
      - POSTGRES_DB=my_db
      - TZ=Asia/Tehran
    volumes:
      - /home/docker/volumes/pg_remittance/postgres/:/var/lib/postgresql/data/
  bot_remittance:
    image: barkhordar/bot_remittance:0.2-3
    container_name: bot_remittance
    environment:
      #   PostgreSQL Config
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres123456
      - POSTGRES_DB=my_db
      - POSTGRES_HOST=pg_remittance
      - POSTGRES_PORT=5432
      #   Config
      - BASE_URL=wss://api.bale.ai/v1/bots/
      - BOT_TOKEN=a9f06fec310400da3d0e3c6f3bbd8e9bba34089a
      #   Log config
      - USE_GRAYLOG=0
      - SOURCE=bot_remittance_source
      - GRAYLOG_HOST=127.0.0.1
      - GRAYLOG_PORT=12201
      - LOG_LEVEL=10
      - LOG_FACILITY_NAME=bot_remittance_facility
      - MONITORING_HASH=cabb3f498ac5a037f669f658f1be08c3
    restart: always # use always
    depends_on:
      - pg_remittance
