version: '3.0'
services:
  pg_remittance:
    image: postgres:9.5
    container_name: pg_remittance
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres123456
      - POSTGRES_DB=my_db
      - TZ=Asia/Tehran
    volumes:
      - /home/ubuntu/volumes/pg_remittance/postgres/:/var/lib/postgresql/data/
  bot_remittance:
    image: bot_remittance:0.7-8
    container_name: bot_remittance
    environment:
      #   PostgreSQL Config
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres123456
      - POSTGRES_DB=my_db
      - POSTGRES_HOST=pg_remittance
      - POSTGRES_PORT=5432
      #   Config
      - BASE_URL=wss://api.bale.ai/v1/bots/
      - ADMIN_LIST=1417824523*-1676146566137099040#776725385*-4527196475141578387#1037073427*-8949247801802351263
      - BOT_TOKEN=81b121841dd2506048a0e2a3c18c14ab3fba29ab
      #   Log config
      - USE_GRAYLOG=0
      - SOURCE=bot_remittance_source
      - GRAYLOG_HOST=127.0.0.1
      - GRAYLOG_PORT=12201
      - LOG_LEVEL=10
      - LOG_FACILITY_NAME=bot_remittance_facility
    restart: always
    depends_on:
      - pg_remittance