version: '2'
services:
  pg_remmitance_bot:
    image: registry.bale.ai:2443/balepostgres:1.6.0
    container_name: pg_remmitance_bot
    environment:
      - POSTGRES_USER=remmitance_bot
      - POSTGRES_PASSWORD=sdhglgslahglaskjdfsfglashg@lsakjgs1231
      - POSTGRES_DB=remmitance_bot_db
      - TZ=Asia/Tehran
    ports:
      - 5447:5432
    volumes:
      - /home/elenoon/docker/volumes/remmitance_bot/postgres/:/var/lib/postgresql/data/

  remmitance_bot:
    image: registry2.bale.ai:2443/remmitance_bot_db:0.0-01
    container_name: remmitance_bot
    restart: always
    environment:
      # PostgreSQL Config
      - POSTGRES_USER=remmitance_bot
      - POSTGRES_PASSWORD=sdhglgslahglaskjdfsfglashg@lsakjgs1231
      - POSTGRES_DB=remmitance_bot_db
      - POSTGRES_PORT=5432
      - POSTGRES_HOST=pg_remmitance_bot
      # Config
      - BASE_URL=wss://api.bale.ai/v1/bots/
      - BOT_TOKEN=9f2965cd2350a5a79fd404135639abe7d4f59543
      - SYSTEM_LOCAL=fa_IR
      - RESENDING_MAX_TRY=5
      - RE_UPLOADING_MAX_TRY=5
      - daily_report_time_hour=18
      - daily_report_time_minute=57
      - all_report_time_hour=18
      - all_report_time_minute=57
      - WAIT_AMOUNT=3600
      - MONEY_CHANGER_ACCOUNT_NUMBER=6037997479512106

      # Log config
      - USE_GRAYLOG=2
      - LOG_SOURCE=pg_remmitance_bot
      - GRAYLOG_HOST=192.168.21.113
      - GRAYLOG_PORT=12201
      - SDK_LOG_LEVEL=20
      - LOG_FACILITY_NAME=pg_remmitance_bot_facility
      - MONITORING_HASH=cabb3f498ac5a037f669f658f1be08c3
    command: python -m main
    depends_on:
      - pg_remmitance_bot

